/* Empty. Add your own CSS if you like */

div.timer {
    text-align: center;
    vertical-align: middle;
}

div.start {
    margin-top: 200px;
    text-align: center;
}

button.control {
    font-size: 30px;
}

p.action {
    font-size: 25px;
}