<ion-view view-title="Info">
  <ion-content class="padding">

      <h3>The lymphatic system</h3>

      <p>The <a href="https://en.wikipedia.org/wiki/Lymphatic_system">lymphatic system</a>
      is part of the <a href="https://en.wikipedia.org/wiki/Immune_system">immune system</a>.
      It consists of a network of tissues and organs.
      Lymph fluid surrounds all cells in the body and is used to
      <a href="http://www.livescience.com/26983-lymphatic-system.html">transport toxins, waste
      and other unwanted materials</a> away from cells.</p>

      <p>The lymphatic system does not have a pump that moves the lymph system around, like the heart pumping blood. Instead, lymph fluid is moved by your breathing and your movement.</p>

      <h3>The Vital Breathing exercise</h3>

      <p>This breathing exercise, called <em>Vital Breathing</em>, helps you to pump your lymph fluid by focusing on holding your breath. The stress your body experiences while you hold your breath
      <a href="http://www.feeltheqi.com/articles/rc-lymph.htm">acts as a pump for your lymphatic system</a>.</p>

      <p>Performing this exercise 3 times per day should cause noticeable improvements in your energy level and your body's ability to prevent and heal diseases.</p>

  </ion>
</ion>