<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
        <ion-toggle  ng-model="settings.vibrate" ng-change="save()">
            Vibrate during exercise
        </ion-toggle>
        <ion-item>
            <span style="text-align: left">Base time</span>
            <select ng-model="settings.base" ng-options="a for a in baseOptions" style="float: right;" ng-change="save()"></select>
        </ion-item>
        <ion-item>
            <span style="text-align: left">Breathings per exercise</span>
            <select ng-model="settings.numIterations" ng-options="a for a in numIterationsOptions" style="float: right;" ng-change="save()"></select>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
