<ion-view view-title="Breathe">
  <ion-content class="padding">

<div class="container">
  <div ng-hide="introSeen" class="intro">
    <h3 class="intro">Breathe</h3>
    <p class="intro">This application guides you through a breathing exercise that stimulates the lymphatic system.</p>

    <p class="intro">For more information, see<br>
      Settings -> Information.</p>
    <div style="text-align: center;">
      <button ng-click="introOk()">OK</button>
    </div>
  </div>

  <div ng-show="true" class="timer">
    <div class="status">
      <div ng-show="ds.finished">Finished!</div>
      <p ng-hide="running" class="action">Rounds: {{ ds.numRounds }}</p>
      <div ng-show="running" style="width: 220px; margin: 0 auto;"><progressbar class="progress" value="100 * ds.round / ds.numRounds" type="success"><b>{{ ds.round }}</b></progressbar></div>
    </div>

    <div style="background: url(images/timer-border-e-1.png); width: 220px; height: 221px; padding: 10px; margin: 0 auto; position: relative;">
      <div class="countdown"><span class="countdown">{{ ds.countdown }}</span></div>
      <div style="opacity: 0.5;"
          round-progress
          max="ds.max"
          current="ds.current"
          color="{{ds.color}}"
          bgcolor="#eaeaea"
          radius="100"
          stroke="70"
          semi="false"
          rounded="false"
          clockwise="true"
          iterations="10"
          animation="easeInOutQuart">
      </div>
    </div>

    <div>
      <p ng-show="running" class="action">{{ ds.action | translate | capitalize }}.</p>
      <p ng-hide="running" class="action">Click play to start.</p>
    </div>
    <div>
      <button ng-hide="running" ng-click="start()" class="control btn btn-success"><i class="icon ion-play"></i></button>
      <button ng-show="running && !paused" ng-click="pause()" class="control btn btn-info"><i class="icon ion-pause"></i></button>
      <button ng-show="running && paused" ng-click="resume()" class="control btn btn-success"><i class="icon ion-play"></i></button>
      <button ng-click="stop()" class="control btn btn-warning"><i class="icon ion-stop"></i></button>
    </div>

    <div style="display: none;">
      <p>Current: {{ ds.current }}<br>
        Max: {{ ds.max }}<br>
        Width: {{ width }}<br>
        timerSize: {{ timerSize }}<br>
        marginLeft: {{ marginLeft }}<br>
      </p>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
