<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
        <ion-toggle ng-model="settings.vibrate" ng-change="save()">
            Vibrate during exercise
        </ion-toggle>
        <ion-toggle ng-model="settings.smoothAnimation" ng-change="save()">
            Smooth animation
        </ion-toggle>
        <ion-item>
            <span style="text-align: left">Base time</span>
            <select ng-model="settings.base" ng-options="a for a in baseOptions" style="float: right;" ng-change="save()"></select>
        </ion-item>
        <ion-item>
            <span style="text-align: left">Breathings per exercise</span>
            <div style="float: right;">
                <button class="btn btn-xs btn-success" ng-click="modifyMaxRounds(-1)"><i class="icon ion-minus-round"></i></button>
                <span class="steppervalue">{{ settings.numIterations }}</span>
                <button class="btn btn-xs btn-success" ng-click="modifyMaxRounds(1)"><i class="icon ion-plus-round"></i></button>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
