<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
        <ion-toggle ng-model="settings.vibrate" ng-change="save()">
            Vibrate during exercise
        </ion-toggle>
        <ion-toggle ng-model="settings.smoothAnimation" ng-change="save()">
            Smooth animation
        </ion-toggle>
        <ion-item>
            <span style="text-align: left">Base time</span>
            <div style="float: right;">
                <button class="btn btn-xs btn-success" ng-click="modifyBaseTime(-1)"><i class="icon ion-minus-round"></i></button>
                <span class="steppervalue">{{ settings.base }}</span>
                <button class="btn btn-xs btn-success" ng-click="modifyBaseTime(1)"><i class="icon ion-plus-round"></i></button>
            </div>
        </ion-item>
        <ion-item>
            <span style="text-align: left">Number of rounds per exercise</span>
            <div style="float: right;">
                <button class="btn btn-xs btn-success" ng-click="modifyNumRounds(-1)"><i class="icon ion-minus-round"></i></button>
                <span class="steppervalue">{{ settings.numRounds }}</span>
                <button class="btn btn-xs btn-success" ng-click="modifyNumRounds(1)"><i class="icon ion-plus-round"></i></button>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
